@import './../../assets/styles/helpers';
@import './../../assets/styles/mixins';

.task_wrapper {
  display: flex;
  width: 90%;
  margin: 0 auto 5px;
  align-items: center;
  color: $dark-grey;
  @include font(500, center, Montserrat-SemiBold, 1.2rem, 1.2rem);
}

.task_input {
  cursor: pointer;
}


