* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

.todolists_wrapper {
  border: 1px solid green;
  display: flex;
  flex-wrap: wrap;
}

.active_button {
  background-color: aquamarine;
  opacity: .7;
  font-weight: bold;
}


