* {
  box-sizing: border-box;
}

.App {
  min-width: 100%;
  min-height: 100vh;
  text-align: center;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
}

ul {
  margin: 0;
  padding: 0;
}

.todolists_wrapper {
  border: 1px solid green;
  flex-grow: 1;
}

.todolists_wrapper>div {
   display: flex;
   flex-wrap: wrap;
 }

.active_button {
  background-color: aquamarine;
  opacity: .7;
  font-weight: bold;
}

.footer {
  border: 2px solid blue;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
}


